@model TheGarage.Web.Models.CarModel

@{
    ViewData["Title"] = "DeleteCar";
}

<h1>Are you sure you want to delete this car?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistryNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistryNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="DeleteCar">
        <input type="hidden" asp-for="RegistryNumber" class="form-control" value="@Model.RegistryNumber" />
        <input name="ConfirmButton" type="submit" value="Yes" />
    </form>
    | 
    <a class="btn btn-primary" asp-action="Index">No</a>
</div>
